*{
    box-sizing: border-box;
}

h1{
    font-family: 'Lobater', "georgia";
    color: #0000B0;
}

form{
    font-family: "Georgia";
    width: 40%;
    border: 2px solid black;
    margin-left: 340px;
    padding: 20px;
    background-color: azure;
    box-shadow: 5px 5px 15px 0 black;
}

label{
    font-size: 12px;
    width: 100%;
}

input{
    margin-bottom: 20px;
    border: 2px solid black;
}
select{
    margin-bottom: 20px;
    border: 2px solid black;
}