*{margin: 0;padding: 0;}

body{
    width: 1000px; 
    height: 950px;
    margin: auto;
}
nav{
    width: 1000px;
    height: 100px;
    background-color: blue;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
}
header
{
    width: 1000px;
    height: 300px;
    background-color: blue;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
}
main{
    width: 1000px;
    height: 500px;
    background-color: gray;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
}


section#box{
    width: 190px;
    height: 90px;
    float: left;
    background-color: white;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


section#banner{
    width: 785px;
    height: 285px;
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}

section#logo{
    width: 185px;
    height: 85px;
    float: left;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}

section#login{
    width: 185px;
    height: 85px;
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}

section#form{
    width: 185px;
    height: 85px;
    float: left;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}

aside#left{
    width: 235px;
    height: 485px;
    float: left;
    background-color: white;
    margin: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid yellow;

}
article{
    width: 485px;
    height: 485px;
    float: left;
    background-color:white;
    margin: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid yellow;

}
aside#right{
    width: 235px;
    height: 485px;
    float: left;
    background-color: white;
    margin: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid yellow;

}
footer{
    width: 1000px;
    height: 50px;
    background-color: yellow;
    justify-content: center;
    display: flex;
    align-items: center;
    float: left;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
}